<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="footer-logo">
          <img style="width: 64px;height: 50px; filter: brightness(0) invert(1) opacity(0.85);"
            src="/assets/images/logos/logo-footer.png"
            alt="Toekoms Digital Logo"
          />
          <span class="logo-text">TOEKOMS DIGITAL</span>
        </div>
      </div>

      <div class="footer-links-wrapper">
        <div class="footer-links">
          <h4>Site</h4>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/industries">Industries</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h4>Industries</h4>
          <ul>
            <li><a href="/industries?industry=healthcare">Healthcare</a></li>
            <li><a href="/industries?industry=financial">Financial</a></li>
            <li><a href="/industries?industry=government">Government</a></li>
            <li><a href="/industries?industry=utilities">Utilities</a></li>
            <li><a href="/industries?industry=transportation">Transportation</a></li>
            <li><a href="/industries?industry=education">Education</a></li>
            <li><a href="/industries?industry=retail">Retail</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h4>Contact</h4>
          <ul>
            <li>info@toekomsdigital.com</li>
            <li>6340 Security Blvd, Suite 100</li>
            <li>Baltimore, MD 2121</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2026 Toekoms Digital. All rights reserved.</p>
    </div>
  </div>
</footer>
